@page
@model JogosVintageWebApplication.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<p>Site feito a pedido do professor João Monge para a UFCD 3935 da turma 22023 com os seguintes requesitos:</p>
<p>
    Desenvolver um aplicação web com recurso a Razor pages.
    A aplicação deve incluir pelo menos três paginas e forma de navegar entre elas.
    A aplicação deverá também incluir um modelo de dados e mais 5 páginas CRUD geradas automaticamente através do scaffolding do modelo criado.
    O tema da aplicação é de escolha livre.
</p>
    <br />
    <br />
    <p><center>Site realizado por: </center></p>
    <br />
    <br />


<div style="background-color: white; width: 100%; height: 200px;">

    <div style="background-color: white; width: 50%; height: 100px; float:left;">


            <center><img src="lib\img\Perfil\FotoP.jpg" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
            <p><center>Pedro Ferreira</center></p>

     </div>
    <div style="background-color: white; width:50%; height: 100px; float:left;">



            <center><img src="lib\img\Perfil\FotoP.jpg" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
            <p><center>Tiago Agostinho </center></p>

        </div>
        </div>
       
        
   



