@page
@model JogosVintageWebApplication.Pages.AtariModel
@{
    ViewData["Title"] = "ATARI";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\AtariLogo.png" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<br/>
<br/>
<p>
   Líder antes do crash de 1983 e da chegada dos japoneses. Fabricou o Pong, a Atari 2600, 5200, 7800, XEGS, a portátil Lynx e a Atari Jaguar, a sua última consola. Saiu do mercado em 1996, hoje fabrica jogos eletrônicos que são rodados por consolas produzidos por outras empresas, ou seja produz apenas softwares.
</p>
<input type="button" value="Voltar para a tabela" onclick="history.back()" />
