@page
@model IndexModel
@{
    ViewData["Title"] = "JogosConsolasVintage";
}


<style>
    td, th {
        border: 1px solid #dddddd;
        text-align:center;
    }
</style>

<section>
    <h1>Jogos e Consolas Vintage</h1>
    <h3>Magnavox Odyssey</h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="lib\img\Odyssey1.jfif" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Magnavox Odyssey Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="lib\img\Odyssey2.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Magnavox Odyssey Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="lib\img\Odyssey3.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Magnavox Odyssey Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        Magnavox Odyssey foi a primeira consola de videojogos comercial da história. Foi apresentado pela primeira vez em abril de 1972 e lançada em Setembro do mesmo ano, antecipando o jogo Pong da Atari. É uma consola digital, embora muitas vezes seja incorretamente definida como analógica, devido à incompreensão de seu projeto de hardware.
    </p>

</section>

<section>
    <h3>Game Boy</h3>
    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="lib\img\Gameboy1.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Game Boy Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="lib\img\Gameboy2.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Game Boy Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="lib\img\Gameboy3.webp" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Game Boy Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        O Game Boy é uma consola portátil desenvolvida pela Nintendo. Lançada em 21 de Abril de 1989 no Japão, em 31 de Julho de 1989 na América do Norte e em 28 de Setembro de 1990 na Europa. É a primeira consola da linha Game Boy, foi criado por Gunpei Yokoi e pela Nintendo.
    </p>
</section>

<section>
    <h3>Mega Drive</h3>
    <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="lib\img\megadrive1.jpg" style="width:640px;height:360px;object-fit:contain;max-width: 100%; object-position:center" alt="Mega Drive Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="lib\img\megadrive2.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Mega Drive Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="lib\img\megadrive3.jpg" style="width:640px;height:360px;object-fit:contain; max-width: 100%; object-position:center" alt="Mega Drive Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        Mega Drive chamada Sega Genesis na América do Norte. É uma consola de videojogos de 16 bits, desenvolvida e comercializada pela Sega sendo a sucessora da Master System. Foi lançada em 1988 no Japão como Mega Drive e em 1989 na América do Norte como Genesis. No ano de 1990, foi distribuído na Europa pela Virgin Mastertronic, na Nova Zelândia e Austrália pela Ozisoft e pela Tec Toy no Brasil. Na Coreia do Sul, foi distribuída pela Samsung com o nome Super Gam*Boy e posteriormente como Super Aladdin Boy. Na Rússia, foi distribuído pela Forrus.
    </p>
    <br />
     <h1>Evolução Cronológica de consolas de  jogos electrónicos</h1>
    <br />
     
    <table  width="70%" border="1" cellspacing="300">
       
        <tr bgcolor="RED">
            <td>Consola</td>
            <td>Fabricante</td>
            <td>Lançamento</td>
            <td> Geração</td>
        </tr>
        <tr>
            <td>Magnavox Odyssey</td>
            <td><a href="/Magnavox" title="Magnavox">Magnavox</a></td>
            <td>1972</td>
            <td>1ª</td>
        </tr>
        <tr>
            <td>Pong</td>
            <td><a href="/Atari" title="Atari">Atari</a></td>
            <td>1975</td>
            <td>1ª</td>
        <tr>
            <td>Atari 2600</td>
             <td><a href="/Atari" title="Atari">Atari</a></td>
            <td>1977</td>
            <td>2ª</td>
        </tr>
        <tr>
            <td>Sega SG-1000</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1983</td>
            <td>2ª</td>
        </tr>
        <tr>
            <td>NES/Famicom</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>1983</td>
            <td>3ª</td>
        </tr>
        <tr>
            <td>Master System</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1987</td>
            <td>3ª</td>
        </tr>
        <tr>
            <td>Game Boy</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>1989</td>
            <td>3ª</td>
        </tr>
         <tr>
            <td>Game Gear</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1990</td>
            <td>3ª</td>
        </tr>
         <tr>
            <td>Mega Drive/Genesis</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1988</td>
            <td>4ª</td>
        </tr>
         <tr>
            <td>Super Nintendo/Famicom</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>1990</td>
            <td>4ª</td>
        </tr>
         <tr>
            <td>Sega Saturn</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1994</td>
            <td>5ª</td>
        </tr>
        <tr>
            <td>PlayStation</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>1994</td>
            <td>5ª</td>
        </tr>
           <tr>
            <td>Nintendo 64</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>1996</td>
            <td>5ª</td>
        </tr>
           <tr>
            <td>Dreamcast</td>
            <td><a href="/Sega" title="Sega">Sega</a></td>
            <td>1998</td>
            <td>6ª</td>
        </tr>
        <tr>
            <td>PlayStation 2</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2000</td>
            <td>6ª</td>
        </tr>
           <tr>
            <td>Nintendo GameCube</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>2001</td>
            <td>6ª</td>
        </tr>
        <tr>
            <td>Xbox</td>
            <td><a href="/Microsoft" title="Microsoft">Microsoft</a></td>
            <td>2001</td>
            <td>6ª</td>
        </tr>
           <tr>
            <td>Nintendo DS</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>2004</td>
            <td>7ª</td>
        </tr>
        <tr>
            <td>PSP</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2004</td>
            <td>7ª</td>
        </tr>
           <tr>
            <td>Xbox 360</td>
            <td><a href="/Microsoft" title="Microsoft">Microsoft</a></td>
            <td>2005</td>
            <td>6ª</td>
        </tr>
        <tr>
            <td>PlayStation 3</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2006</td>
            <td>7ª</td>
        </tr>
          <tr>
            <td>Wii</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>2006</td>
            <td>7ª</td>
        </tr>
          <tr>
            <td>Nintendo 3DS</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>2011</td>
            <td>8ª</td>
        </tr>
          <tr>
            <td>PlayStation Vita</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2011</td>
            <td>8ª</td>
        </tr>
          <tr>
            <td>PlayStation 4</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2013</td>
            <td>8ª</td>
        </tr>
          <tr>
            <td>Xbox One</td>
            <td><a href="/Microsoft" title="Microsoft">Microsoft</a></td>
            <td>2013</td>
            <td>8ª</td>
        </tr>
          <tr>
            <td>Nintendo Switch</td>
            <td><a href="/Nintendo" title="Nintendo">Nintendo</a></td>
            <td>2017</td>
            <td>8ª</td>
        </tr>
        <tr>
            <td>Xbox Series X/S</td>
            <td><a href="/Microsoft" title="Microsoft">Microsoft</a></td>
            <td>2020</td>
            <td>9ª</td>
        </tr>
          <tr>
            <td>PlayStation 5</td>
            <td><a href="/Sony" title="Sony">Sony</a></td>
            <td>2020</td>
            <td>9ª</td>
        </tr>
          <tr>
            <td>Steam Deck</td>
            <td><a href="/Valve" title="Valve">Valve</a></td>
            <td>2022</td>
            <td>9ª</td>
        </tr>
    </table>
    <br />
</section>
<section>
     <br />
      <br />
    <h2> -História- </h2> 
    <br />
    <h3>O Inventor da Consola de Videojogos</h3>
<p class="lead">
   
       Em 1966, o engenheiro eletrónico alemão Ralph Baer, especialista em televisões e empregado da empresa Sanders Associates, pensou no conceito que implementasse novas funções para as televisões. Criar um equipamento que processasse jogos eletrónicos por meio de sua veiculação na televisão, com poucos recursos financeiros. Mas a empresa teve um momento de crise e demissões em massa. Assim Ralph procurou novos investidores, então em agosto de 1972 fechou parceria com a empresa eletrónica Magnavox, que lança o primeiro aparelho de jogos elétricos doméstico (ou para televisões) da historia, batizado de Odyssey, iniciando oficialmente a primeira geração de consolas (1972-1977).

</p>
</section>