@page
@model IndexModel
@{
    ViewData["Title"] = "JogosConsolasVintage";
}

<section>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://ids.si.edu/ids/deliveryService?id=NMAH-2006-11760&max=1000" class="d-block w-100" alt="Magnavox Odyssey Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/98/71/bb/9871bb876bf16d79b03ce07f5cd744d8.jpg" class="d-block w-100" alt="Magnavox Odyssey Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="https://www.indianapolismonthly.com/wp-content/uploads/2022/09/indy_final_web-990x650.jpg" class="d-block w-100" alt="Magnavox Odyssey Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h1>Jogos e Consolas Vintage</h1>
    <p class="lead">
        Magnavox Odyssey foi o primeiro videogame comercial da história. Foi apresentado pela primeira vez em abril de 1972 e lançado em setembro do mesmo ano, antecipando o jogo Pong do Atari. É um console digital, embora muitas vezes seja erroneamente definido como analógico, devido à incompreensão de seu projeto de hardware.
    </p>

</section>