@page
@model IndexModel
@{
    ViewData["Title"] = "JogosConsolasVintage";
}

<section >
    <h1>Jogos e Consolas Vintage</h1>
    <h3>Magnavox Odyssey</h3>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://ids.si.edu/ids/deliveryService?id=NMAH-2006-11760&max=1000" class="d-block w-100" alt="Magnavox Odyssey Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/originals/98/71/bb/9871bb876bf16d79b03ce07f5cd744d8.jpg" class="d-block w-100" alt="Magnavox Odyssey Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="https://www.indianapolismonthly.com/wp-content/uploads/2022/09/indy_final_web-990x650.jpg" class="d-block w-100" alt="Magnavox Odyssey Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        Magnavox Odyssey foi o primeiro videogame comercial da história. Foi apresentado pela primeira vez em abril de 1972 e lançado em setembro do mesmo ano, antecipando o jogo Pong do Atari. É um console digital, embora muitas vezes seja erroneamente definido como analógico, devido à incompreensão de seu projeto de hardware.
    </p>

</section>

<section>
    <h3>Game Boy</h3>
    <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Game-Boy-FL.png/800px-Game-Boy-FL.png" class="d-block w-100" alt="Game Boy Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="https://images.nintendolife.com/48574f8b3f601/1280x720.jpg" class="d-block w-100" alt="Game Boy Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="https://i.ds.at/AOkh6g/rs:fill:1200:600/plain/2019/04/18/gameboy.jpg" class="d-block w-100" alt="Game Boy Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        O Game Boy é um console portátil desenvolvido pela Nintendo, lançado em 21 de abril de 1989 no Japão, em 31 de julho de 1989 na América do Norte e em 28 de setembro de 1990 na Europa, é o primeiro console da linha Game Boy, foi criado por Gunpei Yokoi e pela Nintendo Research & Development 1.
    </p>
</section>

<section>
    <h3>Mega Drive</h3>
    <div id="carouselExampleControls3" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Sega-Mega-Drive-JP-Mk1-Console-Set.jpg" class="d-block w-100" alt="Mega Drive Imagem 1">
            </div>
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/I/71jz2UF7LsS._AC_SX679_.jpg" class="d-block w-100" alt="Mega Drive Imagem 2">
            </div>
            <div class="carousel-item">
                <img src="https://pt.static.webuy.com/product_images/Jogos/Mega%20Drive%20Consolas/SSEGMD001_l.jpg" class="d-block w-100" alt="Mega Drive Imagem 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <p class="lead">
        Mega Drive chamado Sega Genesis na América do Norte. É um console de video game de 16 bits, desenvolvido e comercializado pela Sega sendo um sucessor do Master System. O console foi lançado em 1988 no Japão como Mega Drive e em 1989 na América do Norte como Genesis. No ano de 1990, foi distribuído na Europa pela Virgin Mastertronic, na Nova Zelândia e Austrália pela Ozisoft e pela Tec Toy no Brasil. Na Coreia do Sul, foi distribuído pela Samsung com o nome Super Gam*Boy e posteriormente como Super Aladdin Boy. Na Rússia, foi distribuído pela Forrus.
    </p>
</section>