@page
@model JogosVintageWebApplication.Pages.MagnavoxModel
@{
    ViewData["Title"] = "MAGNAVOX";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\MagnavoxLogo.png" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>

<br/>
<br/>
<p>
A companhia foi fundada em 1917 por Edwin Pridham, Peter L. Jensen, os inventores do alto-falante. Também é conhecida no Mundo todo pela primeira consola de vídeojogos doméstica, a Odyssey. A Magnavox Odyssey  comercializada na década de 80 no Brasil, já era sob a marca Philips.
</p>
