@page
@model JogosVintageWebApplication.Pages.MicrosoftModel
@{
    ViewData["Title"] = "MICROSOFT";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\MicrosoftLogo.jpg" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<br/>
<br />
<p>
Empresa multibilionária de software e hardware. Estreou-se no mercado das consolas de vídeo jogos em 2001 com o Xbox. Em 2005 deu início a sétima geração com o Xbox 360, e em 2013 lançou a sua consola de oitava geração: Xbox One, lançado no dia 22 de Novembro de 2013. Em 2020, lançou a linha de consolas de nona geração Xbox Series X/S.
</p>