@page
@model JogosVintageWebApplication.Pages.NintendoModel
@{
    ViewData["Title"] = "NINTENDO";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\NintendoLogo.jpg" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<br/>
<br />
<p>
    A Nintendo, tradicional e inovadora, começou nos arcades e estreou em 1983 com uma consola de mesa a NES. Em sequência desenvolveu o SNES, o Nintendo 64, o GameCube, o Wii, o Wii U e por último o Nintendo Switch.

    Líder do mercado de portáteis com o Game Boy, em seguida Game Boy Color, Game Boy Advance e a consola portátil mais vendida da história, o Nintendo DS, no início de 2011 lançou o seu novo portátil Nintendo 3DS, que traz um inovador sistema de jogos 3D.

    Lançou o Wii com uma inovadora jogabilidade e com o controle Wiimote, que fez com que Nintendo voltasse a ser a líder de mercado. O Wii U, sucessor da Wii, lançado em 18 de Novembro de 2012. O poder gráfico da nova consola é superior ao das consolas de sétima geração. Em 2017, lançou o Nintendo Switch, uma consola híbrida.
</p>