@page
@model JogosVintageWebApplication.Pages.SegaModel
@{
    ViewData["Title"] = "SEGA";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\SegaLogo.gif" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<p>
Sega, tradicional fabricante de arcades, começou no Japão com as consolas SG-1000, SG-1000 Mark II e SC-3000. Teve grande sucesso com a Master System e a Mega Drive. Mas com o grande número de periféricos da Mega Drive, o fracasso da Saturn nos EUA, mesmo com o relativo sucesso do Dreamcast (A primeira consola 128-bit) do mundo, veio a falência devido a concorrência da PlayStation da Sony e outros fatores.
</p>
<input type="button" value="Voltar para a tabela" onclick="history.back()" />
    