@page
@model JogosVintageWebApplication.Pages.SonyModel
@{
    ViewData["Title"] = "SONY";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\SonyLogo.png" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<br/>
<br />
<br />
<p>
    A Sony é líder do mercado de videojogos domésticos. Estreou em 1994 com o PlayStation, em 2000 lançou a consola doméstica mais vendido da história, o PlayStation 2 e em 2006 lançou o PlayStation 3. Em 2005 lançou a primeira consola portátil, a PSP, e no quarto trimestre de 2011 lançou a PlayStation Vita na continuação da sua linha de consolas portáteis.

No início de 2013 anunciou o PlayStation 4, consola da oitava geração, que foi lançada no dia 15 de Novembro de 2013 na América do Norte. Em 2020, lançou a consola de nona geração Playstation 5.
</p>
<input type="button" value="Voltar para a tabela" onclick="history.back()" />