@page
@model JogosVintageWebApplication.Pages.ValveModel
@{
    ViewData["Title"] = "VALVE";
}
<h1>@ViewData["Title"]</h1>


<center><img src="lib\img\Logos\ValveLogo.png" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
<br/>
<br />
<br />
<p>
Valve Corporation é uma empresa norte-americana desenvolvedora de jogos eletrônicos e de distribuição digital, com sede na cidade de Bellevue, estado de Washington. Seu escritório subsediado em Luxemburgo para as regiões europeias, Valve S.a.r.l, foi aberto em 2012.
</p>
